.container{
    border: 2px solid rgb(0, 0, 0);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}


#imgUser{
    border-radius: 50%;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
}

#usuario{
border: 1px solid rgb(99, 98, 98);
}

#senha{
border: 1px solid rgb(99, 98, 98);
}

#btn{
    border: 1px solid rgb(0, 0, 0);
}